<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 jumbo-title">Boilerplate Generator</h1>
    <p class="lead">Kickstart your project with a Node+Express boilerplate!</p>
    <hr class="my-4" />
  <p>By selecting the functionality that you want your program to contain, a boilerplate can be generated for your needs in seconds.</p>
  </div>
</div>
<div class="container">
  <div class="selection-area" id="layouts">
    <header class="selection-header" id="layouts-header"><h2>Layouts</h2></header>
    <div class="selection-item" id="html" data-item-type="layout" data-item-name="html">
      <div class="selection-image-container">
        <img class="selection selection-image" src="/img/logos/html.svg" alt="html logo" />
      </div>
      <p class="selection item-name">HTML</p>
      <div class="divider"></div>
      <p class="selection item-desc">Express server with a basic HTML layout</p>
    </div>
    <div class="selection-item" id="handlebars" data-item-type="layout" data-item-name="handlebars">
      <div class="selection-image-container">
        <img class="selection selection-image" src="/img/logos/handlebars.svg" alt="handlebars logo" />
      </div>
      <p class="selection item-name">Handlebars</p>
      <p class="selection item-desc">Express server configured to enable handlebars</p>
    </div>
    <div class="selection-item" id="react" data-item-type="layout" data-item-name="react">
      <div class="selection-image-container">
        <img class="selection selection-image" src="/img/logos/react.svg" alt="react logo" />
      </div>
      <p class="selection item-name">React</p>
      <p class="selection item-desc">Express server with webpack, configured to compile React</p>
    </div>
  </div>
  <button type="button" id="boilerplate-submit" class="btn btn-outline-primary">Get your Boilerplate!</button>

</div>
