<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- import stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-grid.css">

  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand text-light" href="#">Boilerplate Generator</a>
    </nav>
      {{{body}}}
  </body>
  <!-- import js -->
  <script src="/javascripts/jquery/jquery-3.2.1.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/bootstrap/bootstrap.js"></script>
  <footer class="footer text-light">
    <div class="container">
      some footer content - dev
    </div>
  </footer>
</html>
